@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="mb-4">Dashboard</h1>

<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Productos</h5>
                <p class="card-text fs-2">@Model.TotalProductos</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Clientes</h5>
                <p class="card-text fs-2">@Model.TotalClientes</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card text-white bg-warning">
            <div class="card-body">
                <h5 class="card-title">Ventas</h5>
                <p class="card-text fs-2">@Model.TotalVentas</p>
            </div>
        </div>
    </div>
</div>