@page
@model Firmeza.Web.Pages.Productos.CreateModel

@{
    ViewData["Title"] = "Crear Producto";
}

<h1>Crear Producto</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Producto.Nombre" class="control-label"></label>
                <input asp-for="Producto.Nombre" class="form-control" aria-required="true"/>
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Descripcion" class="control-label"></label>
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Producto.Precio" class="control-label"></label>
                <input asp-for="Producto.Precio" class="form-control" aria-required="true"/>
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Producto.Stock" class="control-label"></label>
                <input asp-for="Producto.Stock" class="form-control" aria-required="true"/>
                <span asp-validation-for="Producto.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Categoria" class="control-label"></label>
                <input asp-for="Producto.Categoria" class="form-control" />
                <span asp-validation-for="Producto.Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.UnidadMedida" class="control-label"></label>
                <input asp-for="Producto.UnidadMedida" class="form-control" />
                <span asp-validation-for="Producto.UnidadMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}