@page
@model Firmeza.Web.Pages.Productos.EditModel

@{
    ViewData["Title"] = "Editar Producto";
}

<h1>Editar Producto</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Producto.Id" />
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label asp-for="Producto.Nombre" class="form-label"></label>
                <input asp-for="Producto.Nombre" class="form-control" aria-required="true"/>
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Producto.Descripcion" class="form-label"></label>
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label asp-for="Producto.Precio" class="form-label"></label>
                <input asp-for="Producto.Precio" class="form-control" aria-required="true"/>
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label asp-for="Producto.Stock" class="form-label"></label>
                <input asp-for="Producto.Stock" class="form-control" aria-required="true"/>
                <span asp-validation-for="Producto.Stock" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Producto.Categoria" class="form-label"></label>
                <input asp-for="Producto.Categoria" class="form-control" />
                <span asp-validation-for="Producto.Categoria" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Producto.UnidadMedida" class="form-label"></label>
                <input asp-for="Producto.UnidadMedida" class="form-control" />
                <span asp-validation-for="Producto.UnidadMedida" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-outline-secondary ms-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
